body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.container {
  width: 100%;
  max-width: 1166px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  color: #111;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.title span {
  color: #fd9222;
}

html {
  scroll-behavior: smooth;
}

/* ==============header=================== */

.header {
  padding-top: 24px;
  padding-bottom: 32px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-right: 90px;
  justify-content: space-between;
}

.header-menu-list {
  display: flex;
  gap: 24px;
}

.header-soc-list {
  display: flex;
  gap: 14px;
}

.header-soc-icon {
  fill: transparent;
  stroke-width: 1.5px;
  stroke: #111;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-soc-link:hover .header-soc-icon,
.header-soc-link:active .header-soc-icon {
  stroke: #fd9222;
}

.header-logo {
  color: #111;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
  display: flex;
  align-items: center;
}

.header-logo-italic {
  margin-right: 5px;
  font-style: italic;
}

.header-menu-link {
  color: #111;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover,
.header-menu-link:focus,
.header-menu-link:active {
  color: #fd9222;
}

/* ==============hero=================== */

.hero {
  padding-bottom: 80px;
}

.hero-container {
  background-color: rgba(17, 17, 17, 0.6);
  background-image: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  padding: 380px 40px 40px 40px;
}

.hero-title {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
  max-width: 484px;
  margin-bottom: 32px;
}

.hero-buttons {
  display: flex;
  align-items: center;
}

.hero-btn {
  color: #fff;
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 100px;
  background: #fd9222;
  padding: 14px 40px;
  border: 1px solid transparent;
  margin-right: 14px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus,
.hero-btn:active {
  background-color: #fcf1e0;
  color: #fd9222;
}

.hero-made-link {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  border-radius: 100px;
  border: 1px solid #fff;
  padding: 14px 40px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-made-link:hover,
.hero-made-link:focus,
.hero-made-link:active {
  border-color: #fd9222;
  color: #fd9222;
}

.hero-scroll-link {
  display: flex;
  align-items: center;
  gap: 14px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.03em;
  margin-left: auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-scroll {
  width: 38px;
  height: 38px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  flex-shrink: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-svg-scroll {
  fill: #fd9222;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-scroll-link:hover,
.hero-scroll-link:focus {
  color: #fd9222;
}

.hero-scroll-link:hover .hero-scroll,
.hero-scroll-link:focus .hero-scroll {
  background-color: #fd9222;
}

.hero-scroll-link:hover .hero-svg-scroll,
.hero-scroll-link:focus .hero-svg-scroll {
  fill: #fff;
}

/* ==============features=================== */
.features {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.features-list {
  display: flex;
  gap: 88px;
  padding: 0 18px;
}

.features-item {
  width: calc((100% - 176px) / 3);
  position: relative;
}

.features-icon-border {
  display: flex;
  width: 62px;
  height: 62px;
  justify-content: center;
  align-items: center;
  gap: 7.303px;
  flex-shrink: 0;
  border-radius: 365px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 22px;
}

.features-icon {
  fill: #fd9222;
}

.features-subtitle {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 18px;
}

.features-item-text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.features-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: calc(-88px / 2);
  transform: translateY(-50%);
  width: 1px;
  height: 124px;
  background: rgba(255, 255, 255, 0.5);
}

/* ======================Focus only TAB======================= */
a:focus-visible,
button:focus-visible {
  outline: 2px solid #fd9222;
  outline-offset: 4px;
  border-radius: 100px;
}

.header-menu-link:focus-visible {
  color: #fd9222;
}

.header-logo:focus-visible {
  outline: 2px solid #fd9222;
  outline-offset: 4px;
  border-radius: 100px;
}

.header-soc-link:focus-visible {
  outline: 2px solid #fd9222;
  outline-offset: 4px;
  border-radius: 100px;
}

.header-soc-link:focus-visible .header-soc-icon {
  stroke: #fd9222;
}

.hero-scroll-link:focus-visible {
  outline: 2px solid #fd9222;
  outline-offset: 4px;
  border-radius: 100px;
}
